@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 98%);
}

#header1
{
    text-align: center;
    
    font-family: Poppins;
    font-weight: 200;
    margin: 0;
    margin-top: 35px;
    color: hsl(234, 12%, 34%);
}

#header2
{
    text-align: center;
    
    font-weight: 600;
    font-family: Poppins;
    margin: 0;
    color: hsl(234, 12%, 34%);
}

#subt
{
    text-align: center;
    margin-top: 20px;
    color: hsl(229, 6%, 66%);
}

.box-red
{
    position: relative;
    border-radius: 5px;
    background: white;
    border-top: 4px solid hsl(0, 78%, 62%);
    margin-bottom: 20px;
    width: 380px;
    box-shadow:0 5px 5px rgba(66, 65, 65, 0.274);
}

.box-cyan
{
    position: relative;
    border-radius: 5px;
    background: white;
    border-top: 4px solid hsl(180, 62%, 55%);
    margin-bottom: 20px;
    width: 380px;
    box-shadow:0 5px 5px rgba(66, 65, 65, 0.274);
}

.box-blue
{
    position: relative;
    border-radius: 5px;
    background: white;
    border-top: 4px solid hsl(212, 86%, 64%);
    margin-bottom: 20px;
    width: 380px;
    box-shadow:0 5px 5px rgba(66, 65, 65, 0.274);
}

.box-orange
{
    position: relative;
    border-radius: 5px;
    background: white;
    border-top: 4px solid hsl(34, 97%, 64%);
    margin-bottom: 20px;
    width: 380px;
    box-shadow:0 5px 5px rgba(66, 65, 65, 0.274);
}

.box-text
{
    margin: 30px;
}

.box-title
{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 0;
    color: hsl(234, 12%, 34%);
}

.box-body
{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: hsl(229, 6%, 66%);
}

.box-image
{
    text-align: right;
    margin: 30px;
}

.flex-container
{
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sides
{
    transform: translateY(50%);
}

@media (max-width: 900px)
{
    .sides
    {
        transform: translateY(0);
    }

    .flex-container
    {
        margin-right: 25px;
        margin-left: 25px;
    }
}
